.maindiv{
    display: flex;
    justify-content: center;
    gap: 150px;
}
.loginbyauth{
    border: 1px solid black;
}
.loginbyjwt{
    border: 1px solid black;
}
.newbutton{
    cursor: pointer;
}


