body, html {
    margin: 0;
    padding: 0;
    background-color: #fff;
}




.mealmain{
    padding-top: 20px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    background: linear-gradient(to bottom, #FFFEFD, white);
}
.title>h1{
    font-family: Arial, sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}
.title>p{
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}
.snacks{
    padding: 20px;
    width: 100%;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
}
.Tiffin{
    padding: 20px;
}