/* Main FAQ Section */
.mainfaq {
    width: 100%;
    max-width: 900px;
    padding: 10px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    background-color: #f9f9f9;
    border-radius: 15px;
}

/* FAQ Title */
.Title {
    width: 100%;
    font-size: 45px;
    text-align: center;
    margin-bottom: 15px;
}

/* Answers Section */
.answers {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Question Title */
.mainfaq > .answers > section > h2 {
    font-size: 20px;
    font-weight: 550;
}

/* Responsive Design */
@media (max-width: 768px) {
    .mainfaq {
        padding: 10px 20px;
    }
    .Title {
        font-size: 35px;
    }
    .mainfaq > .answers > section > h2 {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .mainfaq {
        padding: 10px 15px;
    }
    .Title {
        font-size: 28px;
    }
    .mainfaq > .answers > section > h2 {
        font-size: 16px;
    }
}
