.Hostelmain{
    padding-top: 20px;
     /* border: 1px solid black; */
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 30px;
}
.mainimg{
    max-width: fit-content;
}
.search{
    width: 100%;
    max-width: 600px;
}

