.Hostelmain{
    padding-top: 20px;
     /* border: 1px solid black; */
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 30px;
}
.mainimg{
    max-width: fit-content;
}
.HostelSearch{
    display: flex;
    justify-content: center;

}
.Faqsection{
    display: flex;
    justify-content: center;
    align-items: center;
}